**/debug.log
.idea/
**/build/
**/temp/
**/customReports/
**/target/
**/logs/
**/ejarautomation-selenium/.idea
**/.idea
**/test output
Projects/Alwefaq/tmp/
**/Projects/Alwefaq/.classpath
**/bin
**/reports
**/ejarConneted/Libs/Libs
**/settings/internal/com.kms.katalon.composer.testcase.properties
/settings/internal/com.kms.katalon.composer.testcase.properties

